---
import Hero from "@/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

---


<BaseLayout>
    <section class="mt-10">
        <h1 class="pt-9">HOLA</h1>
        <Hero title="Contenido protegido"  align="center" />
    </section>
</BaseLayout>