---
import AthleteTestimonial from "@/components/testimonials/react/AthleteTestimonial";
---

<section class="lg:mt-30 p-4">
  <header class="section-header stack gap-2 lg:gap-4">
    <h1>Atletas que confían en nosotros</h1>
    <h4>
      Estos atletas confían en Rehab for Strengh Atlethes, aquí encontraras sus
      historias:
    </h4>
  </header>
  <div class="m-auto">
    <AthleteTestimonial client:load />
  </div>
</section>
