---
import { iconsUrl } from "@/lib/constants";
import Hero from "../hero/Hero.astro";
import ServiceInfoBox from "./ServiceInfoBox.astro";
---

<section
  id="service-info"
  class="flex flex-col items-center justify-center p-8 lg:p-10 lg:mt-20"
>
  <Hero
    title="Metodología de trabajo"
    tagline="Estas serán las etapas de tu proceso en Rehab for Strength Atlethes"
    align="center"
    className="service-hero mt-20"
  />
  <div
    class="info-boxes grid-cols-1 grid-rows-1 grid gap-8 lg:grid lg:grid-cols-2 lg:grid-rows-6 lg:gap-5 p-8 h-full text-center lg:mt-20"
  >
    <ServiceInfoBox>
      <h4>
        Valoración inicial por videollamada y sesión de educación en dolor
      </h4>
      <p>
        En primer lugar, realizaremos una videollamada a través de Google Meet u
        otra plataforma, en la que utilizaremos preguntas, escalas y
        cuestionarios para establecer una primera aproximación al diagnóstico y
        completar tu historia clínica
      </p>
      <p>
        Tras la entrevista inicial, dedicaremos parte de la llamada a realizar
        una sesión de educación en dolor, donde te proporcionaré conocimientos
        teórico-prácticos sobre tu problema y resolveré todas tus dudas.
      </p>
      <div class="flex flex-row items-center gap-3 justify-center">
        {
          iconsUrl.Step1.map((icon) => (
            <img src={icon} class="w-12 H-12" alt="" />
          ))
        }
      </div>
    </ServiceInfoBox>
    <ServiceInfoBox>
      <h4>Exploración física/valoración funcional</h4>
      <p>
        A través de test, mediciones y ejercicios con carga, confirmaremos o
        descartaremos las hipótesis planteadas en la fase inicial de la
        valoración.
      </p>
      <div class="flex flex-row items-center gap-3 justify-center">
        {
          iconsUrl.Step2.map((icon) => (
            <img src={icon} class="w-12 H-12" alt="" />
          ))
        }
      </div>
    </ServiceInfoBox>
    <ServiceInfoBox>
      <h4>Contacto con el entrenador y planteamiento del trabajo</h4>
      <p>
        Identificada la causa del problema, contactaré con tu entrenador para
        trabajar en conjunto y adaptar el entrenamiento según tus necesidades y
        contexto. Además, te proporcionaré y justificaré la pauta de ejercicio
        que utilizaremos como tratamiento.
      </p>
      <div class="flex flex-row items-center gap-3 justify-center">
        {
          iconsUrl.Step3.map((icon) => (
            <img src={icon} class="w-12 H-12" alt="" />
          ))
        }
      </div>
    </ServiceInfoBox>
    <ServiceInfoBox>
      <h4>Seguimiento y revisiones</h4>
      <p>
        El seguimiento será continuo, con contacto vía WhatsApp, registros en
        excel y revisiones semanales. Esto nos permitirá hacer ajustes en el
        entrenamiento y la pauta de ejercicios según tu evolución
      </p>
      <div class="flex flex-row items-center gap-3 justify-center">
        {
          iconsUrl.Step4.map((icon) => (
            <img src={icon} class="w-12 H-12" alt="" />
          ))
        }
      </div>
    </ServiceInfoBox>
  </div>
</section>

<script>
  import { deferredRefresh } from "@/scripts/animations";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText, ScrollTrigger);

  document.addEventListener("DOMContentLoaded", () => {
    const splitText = new SplitText(".service-hero", {
      type: "words",
    });

    const serviceInfoTL = gsap.timeline({
      scrollTrigger: {
        trigger: "#service-info",
        start: "top top",
        end: "+=100%",
        pin: true,
        pinSpacing: true,
        anticipatePin: 1,
        invalidateOnRefresh: true,
        scrub: 2.5,
      },
    });

    serviceInfoTL.from(splitText.words, {
      duration: 2,
      y: -20,
      stagger: 0.1,
      filter: "blur(10px)",
      autoAlpha: 0,
      ease: "power2.inOut",
    });

    serviceInfoTL.from(".info-boxes .box", {
      duration: 2,
      scale: 0.9,
      autoAlpha: 0,
      stagger: {
        each: 0.5,
        grid: "auto",
      },
    });

    deferredRefresh();
  });
</script>
