---
import Hero from "../hero/Hero.astro";
import Skills from "./Skills.astro";
---

<section id="service-hero" class="p-8 lg:block mt-30 lg:p-10 lg:mt-40">
  <Hero
    className="hero-text mt-20 p-3.5"
    title="Rehab for Strength Athletes"
    tagline="Este proyecto nace con el propósito de brindar al atleta de fuerza un servicio de rehabilitación que comprenda las exigencias reales del deporte que practican. ¿Eres atleta de fuerza? ¿Tienes dolor? Busquemos una solución juntos "
    align="center"
  />
  <Skills />
</section>

<script>
  import { deferredRefresh } from "@/scripts/animations";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText, ScrollTrigger);

  document.addEventListener("DOMContentLoaded", () => {
    const splitText = new SplitText(".hero-text", {
      type: "words",
    });

    const serviceTl = gsap.timeline({
      scrollTrigger: {
        trigger: "#service-hero",
        start: "top top",
        end: "+=100%",
        pin: true,
        pinSpacing: true,
        anticipatePin: 1,
        invalidateOnRefresh: true,
        scrub: 2.5,
      },
    });

    serviceTl
      .from(splitText.words, {
        duration: 1.5,
        y: 10,
        stagger: 0.1,
        filter: "blur(10px)",
        autoAlpha: 0,
        ease: "power2.inOut",
      })
      .from("#service-box", {
        autoAlpha: 0,
        duration: 1.2,
        ease: "power2.inOut",
        x: -200,
      });

    deferredRefresh();
  });
</script>
