---
import BaseLayout from "@/layouts/BaseLayout.astro";

import ContactCTA from "@/components/ContactCTA.astro";
import Hero from "@/components/Hero.astro";
---

<BaseLayout
  title="Sobre mi | Rehab for strengh atlethes"
  description=" Conoce mi historia y como nace rehab for strengh atlethes"
>
  <div class="stack gap-20 lg:gap-48 bg-color-dark bg-color-ligth">
    <main class="wrapper stack gap-20 p-10 lg:gap-30 about">
      <Hero
        title="Sobre mi"
        tagline="En esta seccion conoceras mi historia y como nace rehab for strengh atlethes"
        align="center"
      >
        <div class="flex flex-row justify-center gap-20">
          <img
            class="w-[480px] h-[480px] object-cover transition-transform duration-300 ease-in-out hover:scale-110"
            src="/assets/Adrian_Manzanares.jpg"
            alt=""
          />
          <img
            class="w-[580px] h-[480px] object-cover transition-transform duration-300 ease-in-out hover:scale-110"
            src="/assets/AdriLogo.jpeg"
            alt=""
          />
        </div>
      </Hero>

      <section class="flex flex-col max-w-[65ch]">
        <section>
          <h2 class="section-title">¿Quien soy?</h2>
          <div class="content">
            <p></p>
          </div>
        </section>
        <h2 class="section-title">Mi historia</h2>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, <a href="https://astro.build/">Astro</a>
            makes people happy. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Proin nibh nisl condimentum id venenatis a condimentum
            vitae. Dapibus ultrices in iaculis nunc. Arcu odio ut sem nulla pharetra
            diam sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus
            in ornare.
          </p>
          <p>
            Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Eget
            gravida cum sociis natoque penatibus. Cras fermentum odio eu feugiat
            pretium nibh. Proin nibh nisl condimentum id venenatis. Porta nibh
            venenatis cras sed felis eget velit. Id diam vel quam elementum
            pulvinar etiam non.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Educación y formación</h2>
        <div class="content">
          <p>Corporis voluptates tenetur laudantium.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Habilidades</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
