---
import ContactCTA from "@/components/cta/ContactCTA.astro";
import Hero from "@/components/hero/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Sobre mi | Rehab for strengh atlethes"
  description=" Conoce mi historia y como nace rehab for strengh atlethes"
>
  <div class="stack gap-20 lg:gap-48 bg-color-dark bg-color-ligth">
    <main class="wrapper stack gap-20 p-10 lg:gap-30 about">
      <Hero
        title="Sobre mi"
        tagline="En esta sección conocerás mi historia y como nace rehab for strengh atlethes"
        align="center"
      >
        <div class="flex flex-col-reverse lg:flex-row justify-center gap-20">
          <img
            class="w-[480px] h-[480px] aspect-square object-cover transition-transform duration-300 ease-in-out hover:scale-110"
            src="/assets/Adrian_Manzanares.jpg"
            alt=""
          />
          <img
            class="w-[580px] h-[480px] aspect-square object-cover transition-transform duration-300 ease-in-out hover:scale-110"
            src="/assets/AdriLogo.webp"
            alt=""
          />
        </div>
      </Hero>

      <section class="flex flex-col">
        <section>
          <h2 class="section-title">¿Quien soy?</h2>
          <div class="content prose">
            <p>
              Mi nombre es Adrián Manzanares, soy fisioterapeuta especializado
              en deportes de fuerza y atleta de powerlifting. Me dedico a ayudar
              a deportistas de fuerza a recuperarse de lesiones y a mejorar su
              rendimiento.
            </p>
          </div>
        </section>
        <h2 class="section-title">Mi historia</h2>
        <div class="content prose">
          <p>
            Empecé a competir en powerlifting el año 2015 y a lo largo de los
            años he combinado mi pasión por el deporte de fuerza con la práctica
            clínica, la investigación y la divulgación en fisioterapia.
          </p>
          <p>
            Cómo profesional, he tenido el placer de trabajar con atletas de
            diversas disciplinas a nivel nacional e internacional, pudiendo
            acompañarlos en su proceso de rehabilitación y que pudieran expresar
            su mejor rendimiento en competición.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Educación y formación</h2>
        <div class="content prose">
          <p>
            En cuanto a la parte académica, he cursado un Máster en el abordaje
            del dolor neuromusculoesquelético a parte de otras formaciones
            regladas en el ámbito de la neurociencia del dolor y la readaptación
            física.
          </p>
          <p>
            Este año 2025, comenzaré mis estudios de Doctorado en Ciencias del
            Deporte abordando la epidemiología de lesiones en atletas de fuerza
            como principal línea de investigación.
          </p>
        </div>
        <h3 class="mt-7">
          Espero poder acompañarte y ayudarte durante tu proceso de
          rehabilitación
        </h3>
      </section>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    font-size: var(--text-lg);
    color: var(--gray-200);
  }

  @media (min-width: 50em) {
    .content {
      font-size: var(--text-lg);
      max-width: 75ch;
    }
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
