---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '@/layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '@/components/CallToAction.astro';
import Grid from '@/components/Grid.astro';
import Hero from '@/components/Hero.astro';
import Icon from '@/components/Icon.astro';
import PortfolioPreview from '@/components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '@/components/ContactCTA.astro';
import Skills from '@/components/Skills.astro';
import AthleteTestimonial from '@/components/AthleteTestimonial.astro';


// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48 bg-gradient-to-b from-gray-500 from-0% via-slate-700 via-50% to-gray-900 to-100%">
		<div class=" first-header wrapper mt-auto stack gap-8 lg:gap-20">
			<header />
			
		</div>
		<section class="hidden lg:block lg:p-3 lg:mt-20">
			<Hero 
					title='Rehab for strength athletes'
					tagline='Este proyecto nace con el propósito de brindar al atleta de fuerza un servicio de rehabilitación que comprenda las exigencias reales del deporte que practican. ¿Eres atleta de fuerza? ¿Tienes dolor? Busquemos una solución juntos '
					align='center'
				 />
			<Skills />
		</section>
		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="block sm:hidden"  > 
				<Hero 
					title='Rehab for strength athletes'
					tagline='Este proyecto nace con el propósito de brindar al atleta de fuerza un servicio de rehabilitación que comprenda las exigencias reales del deporte que practican. ¿Eres atleta de fuerza? ¿Tienes dolor? Busquemos una solución juntos '
					align='start' 
					 />
				<Skills   />
			</section>

			<section class="section with-background with-cta lg:gap-4 p-4 m-auto ">
				<header class="section-header stack gap-2 ">
					<h3>Blog</h3>
					<p>Aqui encontraras algunas de mis mejores publicaciones</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						Ver todas las publicaciones
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>testimonios</h3>
				</header>
				<div class="gallery m-auto">
					<AthleteTestimonial  />
				</div>

				
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

.first-header {
    background: url('/assets/backgrounds/mobile.jpeg') center/cover no-repeat;
    width: 100%;
    min-height: 100vh; /* Altura completa de la ventana */
}
	

.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	@media (min-width: 50em) {

		.first-header {
    background: url('/assets/backgrounds/cobblestone_street_a_journey_through_time-wallpaper-2560x1440.jpg') center/cover no-repeat;
    width: 100%;
    min-height: 100vh; /* Altura completa de la ventana */
}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery' 'cta cta cta cta';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header' 'gallery gallery gallery gallery' 'cta cta cta';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: center;
			text-align: center;
		}

		.gallery {
			grid-area: gallery;
			margin: auto;
		}

		.cta {
			grid-area: cta;
			justify-items: right;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
