---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.

// Componentes de paginas
import MainPageLayout from "@/layouts/MainPageLayout.astro";
import HeroHeader from "@/components/hero/HeroHeader.astro";
import BlogPreview from "@/components/previews/BlogPreview.astro";
import ServiceInfo from "@/components/service/ServiceInfo.astro";
import ServiceSkills from "@/components/skills/ServiceSkills.astro";
import Testimonials from "@/components/testimonials/astro/Testimonials.astro";
import ContactCTA from "@/components/cta/ContactCTA.astro";
---

<MainPageLayout
  title="Inicio | Rehab for strengh atlethes"
  description="Pagina Inicial de Rehab for strengh atlethes"
>
  <div class="stack gap-10 lg:gap-20 bg-color-dark bg-color-ligth">
    <main id="main" class="wrapper gap-10 lg:gap-2+">
      <HeroHeader />
      <ServiceSkills />
      <ServiceInfo />
      <BlogPreview />
      <Testimonials />
    </main>
    <ContactCTA />
  </div>
</MainPageLayout>

<style>
  .header-container {
    position: relative;
    height: 100vh;
    z-index: 10;
    margin-bottom: 0;
  }

  #logo-mask {
    background: white;
    mask-image: url("/favicon.svg");
    mask-position: center 25%;
    mask-repeat: no-repeat;
    mask-size: clamp(5000vh, 3500%, 0vh);
    opacity: 0; /* Comienza transparente */
  }

  main > *:not(.header-container) {
    position: relative;
    z-index: 1;
  }
</style>
