---

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "@/layouts/BaseLayout.astro";

// Componentes de paginas
import ContactCTA from "@/components/ContactCTA.astro";
import ServiceSkills from "@/components/ServiceSkills.astro";
import ServiceInfo from "@/components/ServiceInfo.astro";
import BlogPreview from "@/components/BlogPreview.astro";
import Testimonials from "@/components/Testimonials.astro";
import MainHeader from "@/components/MainHeader.astro";
---

<BaseLayout>
  <div
    class="stack gap-20 lg:gap-48 bg-gradient-to-b from-gray-500 from-0% via-slate-700 via-50% to-gray-900 to-100%"
  >
    <main class="wrapper stack gap-20 lg:gap-30">
      <MainHeader />
      <ServiceSkills />
      <ServiceInfo />
      <BlogPreview />
      <Testimonials />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

