<div
  class=" box row-span-3 bg-[var(--gray-300)] border-[var(--border-color)] border-4 border-solid rounded-2xl flex flex-col justify-center items-center text-center p-8 gap-8 hover:border-[#152a3a] hover:cursor-pointer"
>
  {(<slot />)}
</div>
