---
import AthleteTestimonial from "./AthleteTestimonial.astro";
---

<section class="">
  <header class="section-header stack gap-2 lg:gap-4">
    <h1>Casos de éxito</h1>
    <h3>
      Atletas que han confiado y confían en Rehab for Strengh Atlethes, esta es
      su opinion:
    </h3>
  </header>
  <div class="m-auto">
    <AthleteTestimonial />
  </div>
</section>
