---
import AthleteTestimonial from "./AthleteTestimonial.astro";
---

<section class="">
  <header class="section-header stack gap-2 lg:gap-4">
    <h1>Atletas que confían en nosotros</h1>
    <h3>
      Atletas que han confiado y confían en Rehab for Strengh Atlethes, aquí
      encontraras sus historias:
    </h3>
  </header>
  <div class="m-auto">
    <AthleteTestimonial />
  </div>
</section>
