---
// Component Imports
import MainHead from "@/components/header/MainHead.astro";
import Footer from "@/components/footer/Footer.astro";
import NavBar from "@/components/header/navbar/astro/NavBar.astro";
import { ClientRouter } from "astro:transitions";
import { ThemeProvider } from "@/components/theme/react/ThemeProvider";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <MainHead
      title={title ?? "Rehab for Strengh Atlethes"}
      description={description ?? ""}
    />
    <ClientRouter />
  </head>
  <body class="bg-color-dark bg-color-ligth h-full">
    <ThemeProvider client:load>
      <div class="stack">
        <NavBar />
        <slot />
        <Footer />
      </div>
    </ThemeProvider>
  </body>
</html>
